.app-container {
    background-color: #000; 
    color: #fff; 
    margin: 0;
    padding: 0; 
    /* height: 100vh;
    overflow: hidden;  */
}

.menu-text {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.menu-text:hover {
  color: #f00;
  text-decoration: none;
}

.navbar-toggler-icon {
  color: #fff;
}